/*reset*/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font */
body {
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

/* buttons */
.left,
.right {
  position: absolute;
  color: white;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  top: 50px;
  cursor: pointer;
  z-index: 100;
}

.left {
  left: 15px;
}

.right {
  right: 500px;
}

/* container title */
.slider__container {
  display: flex;
  gap: 15px;
  position: relative;
  top: 10px;
  left: 150px;
}

.category {
  cursor: pointer;
  transition: all 1s;
}

/* content */
.slider__content {
  position: relative;
  top: 10px;
  left: 100px;
  margin-bottom: 15px;
  height: auto;
  width: 500px;
}

.content {
  width: 150px;
  height: 300px;
  position: absolute;
  margin-top: 50px;
  left: 200px;
  transition: all 0.3s;
}

/* states */
/* active */
.category-active {
  color: red;
  transition: all 0.3s;
}

.product-active {
  background-color: aqua;
}

@keyframes fromRight {
  0% {
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    right: 185px;
    opacity: 1 !important;
    visibility: visible !important;
  }
}
@keyframes fromLeft {
  0% {
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    left: 200px;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.al {
  animation: fromLeft 0.5s ease-out;
  animation-fill-mode: backwards;
}

.ar {
  animation: fromRight 0.5s ease-out;
  animation-fill-mode: backwards;
}

.apple {
  background-color: red;
}

.orange {
  background-color: rgb(255, 187, 0);
}

.pear {
  background-color: rgb(238, 255, 0);
}

.grape {
  background-color: rgb(41, 1, 77);
}
